.ui-mobile [data-role=header]{
    background-color:  #1a1aff;
    color: beige;
    text-shadow: 1px 1px 12px #000;
    font-size: 22px;
    font-weight:bold;
}

.ui-page{
	font-family:verdana;
	background-image:url("../images/background.jpg");
	font-size:18px;
	font-weight:bold;
	-webkit-backface-visibility: hidden;	
	
}

#symptom{
	color:blue;
	font-weight:bold;
}
 
 